@CHARSET "ISO-8859-1";

div.dataTables_length {
    float: left;
    background-color: #cac8c8;
}
 
div.dataTables_filter {
    float: right;
    background-color: #cac8c8;
}
 
div.dataTables_info {
    float: left;
    background-color: #cac8c8;
}
 
div.dataTables_paginate {
    float: right;

    background-color: #cac8c8;
}
 
div.dataTables_length,
div.dataTables_filter,
div.dataTables_paginate,
div.dataTables_info {
    padding: 6px;
    
    
}
a.paginate_button,
a.paginate_active {
    display: inline-block;
    background-color: #608995;
    padding: 2px 6px;
    margin-left: 2px;
    cursor: pointer;
    *cursor: hand;
}

table.pretty {
    clear: both;
}
 
/* Self clearing - */
div.dataTables_wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
html[xmlns] .dataTables_wrapper { display: block; }
* html .dataTables_wrapper { height: 1%; }

a.paginate_active {
    background-color: transparent;
    border: 1px solid black;
}
 
a.paginate_button_disabled {
    color: #3d6672;
}
.paging_full_numbers a:active {
    outline: none
}
.paging_full_numbers a:hover {
    text-decoration: none;
}
 
div.dataTables_paginate span>a {
    width: 15px;
    text-align: center;
}
 
div.dataTables_info {
    padding: 9px 6px 6px 6px;
}
